<p>Drop me a line!</p>


<form
        action="https://docs.google.com/forms/d/<ID>/formResponse"
        method="post"  target="hidden_iframe" ng-submit="submit()"
        class="message-form">
  <label for="from">From:</label>
  <input id="from" name="from" type="text"/>
  <label id="message" for="message" class="message">Message:</label>
  <textarea name="message" id="email-message" cols="30" rows="10"></textarea>
  <button class="btn btn-success submit">Submit</button>
</form>
